
.only-mobile {
    display: none;
}

body, html {
    overflow: auto;
}

@media (max-width: 1024px) {
    h3 {
        font-size: 2em;
    }

    h5 {
        font-size: 1.2em;
        font-weight: bold;
    }

    h4 {
        font-size: 1.2em;
        font-weight: bold;
    }

    .infos {
        display: none !important;
    }

    .only-mobile {
        display: block;
    }

    .first-modal {
        width: 90% !important;
    }

    .first-modal h4 {
        font-size: 1.2rem !important;
    }

    .btn {
        font-size: 0.7rem !important;
    }


    .s3{
        width: 100% !important;
    }

    .s6{
        width: 100% !important;
    }

    .s4{
        width: 100% !important;
    }

    .not-on-mobile{
        display: none;
    }

    .react-calendar {
        width: 100% !important;
    }
}