body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f3f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inside{
  background: red;
}
/*
  .modal-content{
    width: 900px;
  }

  .modal-dialog {
    max-width: 900px;
  }
*/
.orange{
  background-color: #EC6D48  !important;
}

.orange-txt {
  color: #EC6D48  !important;
}

.txt-orange {
  color: #EC6D48  !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
  background-color: #EC6D48  !important;
  border-color: #EC6D48 !important;
}


.form-label {
  font-size: 1.2rem;
}

.modal-footer {
  display: flex;
  justify-content: start;
  padding: 0 22px !important;
}

.modal-close {
  margin-left: 40px !important;
}

.first-modal {
  width: 880px !important;
  max-width: 880px;
}

.alert-text {
  color : #e06666;
}

.italic {
  font-style: italic;
}

.clickable-text {
  cursor: pointer;
  margin-left: 32px;
}

.underline {
  text-decoration: underline;
}
